html, body, #map {
    height: 85%;
    size: 100%;;
    margin: 20px;
}

body {
    font-family: 'Imbue', serif;
    font-size: large;
    background-image: url('Background.jpg');
}

.navbar-brand {
    font-size: xx-large;
}

nav {
    margin: 20px;
}